<html>
  <body>
    <h1>Your Verification Code</h1>
    <h4>Enter this verification code:</h4>
    <h2 style="letter-spacing: 20px"><b>{{confirmationCode}}<b></h2>
    <h4>Verification code is valid only for {{codeExpirationInMinutes}} minutes</h4>
  </body>
</html>